{% extends 'layout.html' %}

{% block tpe_attraction_css%}
    <link rel="stylesheet" href="/static/stylesheets/tpe/attraction.css">
{% endblock %}

{% block attraction %}
    <div class="attraction">
        <section class="purchase">
            <div class="purchase_action">
                <h4>訂購導覽行程</h4>
                <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                <div>
                    <h4>選擇日期：</h4>
                    <input class="date" type="date">
                </div>
                <div>
                    <h4>選擇時間：</h4>
                    <input type="radio" name="am" id="am" value="上午場" class="time" checked>
                    <span class="checkmark"></span>
                    <label for="am">上午場</label>
                    <input type="radio" name="pm" id="pm" value="下午場">
                    <span class="checkmark"></span>
                    <label for="pm">下午場</label>
                </div>
                <div class="showPrice">
                    <h4>導覽費用：</h4>
                </div>
                <div class="startB">開始預訂行程</div>
            </div>
        </section>
    </div>
{% endblock %}
{% block attraction_js %}
    <script src="../static/js/attraction.js"> </script> 
{% endblock %}