<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/stylesheets/tpe/layout.css">

    {% block tpe_home_css%}{% endblock %}
    {% block tpe_attraction_css%}{% endblock %}
    <title>Taipei</title>
</head>
<body>
    <header>
        <nav>
            <a class="tpe_oneday" href="/">台北一日遊</a> 
            <ul id='nav'>
                <li class='show'><a href = "/tpe">預定行程</a></li>
                <li class='show'><a href = "/signout">登入/註冊</a></li>
            </ul>
        </nav>
        {% block tpe_banner %}
        {% endblock %}
    </header>
    <main>
        {% block tpe_home %}{% endblock %}
        {% block attraction %}{% endblock %}
    </main>
    <footer>
        <a href="mailto:twodoor1993@gmail.com?subject=feedback for you">COPYRIGHT © 2021 台北一日遊</a>
    </footer>
{% block tpe_home_js %}{% endblock %} 
{% block attraction_js %}{% endblock %}
</body>
</html>