@import url("../reset.css");
@import url("../common.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/*===*===*===*===*===*===*===*===*===
              NAV
===*===*===*===*===*===*===*===*===*/
  header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 2;
    border-bottom: 1px solid #E8E8E8;
    padding: 1.5rem 5.5rem;
  } 
  header nav ul {
    display: flex;
    align-items: center;
  }
  .tpe_oneday{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
  }
  #nav li a {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 13px;
    color: #666666;
  
    padding: 20px 10px 20px 10px;
    margin: 20px 10px 20px 10px;
  }
/*===*===*===*===*===*===*===*===*===
       @media    NAV 
===*===*===*===*===*===*===*===*===*/
@media only screen and (max-width: 600px) {
  header nav {
    padding: .2rem 1.5rem;
  }
  .tpe_oneday{
    font-size: 1.2rem;
  }
  #nav li a{
    font-size: .5rem;
  }
}
@media only screen and (max-width: 320px){
  header nav {
      padding: 0rem 0rem;
  }
}
/*===*===*===*===*===*===*===*===*===
              FOOTER
===*===*===*===*===*===*===*===*===*/
footer{
    background: #757575;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    width: 100%;
    bottom: 0; */
  }
  footer a{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    color: #fff;
  }